@import "font-awesome";
@import "compass";
@import "compass/css3";

#main {
  max-width: 1000px;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
}

//Extends

%icon {
  font-family: 'FontAwesome';
}

%action-icon {
  @extend %icon;

  background: transparent;
  border: none;
  @include box-shadow(none);
  overflow: hidden;

  display: inline-block;
  height: 25px;
  width: 16px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  text-decoration: none;

  &:hover, &:focus, &:active {
    background: none;
    @include box-shadow(none);
  }
}
