@import "common";

h3 {
  text-align: center;
}

button.signup {
  @extend %btn;
  height: 46px;
  padding: 15px;
  line-height: 1;
}

fieldset.name, fieldset.available-numbers {
  border: none;
  margin: 0;
  padding: 0;

  legend {
    border: none;
    margin: 0 0 5px;
    padding: 0;
    font-size: 14px;
    line-height: 1;
  }
}

#first-name, #last-name  {
  width: 180px;
  display: inline-block;
}

#phone {
  width: 190px;
  display: inline-block;
}

button.number-search {
  display: inline-block;  
  @extend %btn;
  height: 46px;
  padding: 15px;
  line-height: 1;
  margin-bottom: 3px;
}

#area-code {
  width: 80px;
  display: inline-block;
}

#first-name, #area-code {
  margin-right: 5px;
}

#email, #password, #first-name, #last-name, #area-code, #area-code, #phone {
  height: 44px;
  border: 1px solid #d9d9d9;
  margin: 5px 0 0;
  padding: 0 8px;
}

#email, #password {
  width: 382px;  
}

#signup-box {
 h3 {
    margin-top: 0;
  }

  width: 400px;
  margin: 30px auto auto;
  padding: 35px;
  
  border: 1px solid #e5e5e5;
  background: #f1f1f1;

  label {
    display: inline-block;
    margin-bottom: 0;
  }
}

.field-label {
      display: none;
}

#user-info {
  margin: 0;
  padding: 0;
}

.error {
  color: #ff0000;
}

#sign-in {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

li.name, li.password, li.email, li.phone {
  margin-bottom: 20px;
}

li.signup {
  text-align: right;
}

#phone-numbers {
  width: 100%;
  margin-top: 20px;
  border-top: solid 1px;
}

.number-entry {
  text-align: center;
  cursor: pointer;

  padding: 10px 0;

  border-bottom: solid 1px;

  background: #D4D4D3;

  &:hover {
    background: #B4B4B3;
  }

  &.selected {
    background: #B4B4B3;
  }

  input {
    display: none;
  }
}
