@import "common";

.edit-question, .delete-question, .delete-answer, .add-answer {
  @extend %action-icon;
}

.edit-question:before {
  content: ' ';
}

.delete-question:before {
  content: ' ';
}

#answer-list {
  margin: 0;
}

.question {
  width: 93%
}

.answer-text, .new-answer-text {
  width: 90%;
}

.delete-answer {
  width: 12px;
  color: red;

  &:before {
    content: ' ';
  }
}

.add-answer {
  width: 12px;
  color: green;

  &:before {
    content: ' ';
  }
}

.question-type {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;

  background: transparent;
  border: none;
  @include box-shadow(none);
  overflow: hidden;

  width: 100%;
  text-align: left;

  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  }
}


